/* Home page image sarousel style */

.elementor-9 .elementor-element.elementor-element-76fcbe7 .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-9 .elementor-element.elementor-element-76fcbe7 .elementor-swiper-button.elementor-swiper-button-next svg {
    background: #C8A2C8 !important;
    border-radius: 50px;
    padding: 10px;
}


/* footer style */

.footer_contact li.elementor-icon-list-item .elementor-icon-list-icon {
    background: #FFFFFF1A;
    padding: 10px !important;
    border-radius: 100%;
    margin-right: 8px
}

.footer_contact li.elementor-icon-list-item .elementor-icon-list-icon svg {
    margin-right: 0 !important;
}

/**
*----------------
*Breadcrumb style
*----------------
**/

.rank-math-breadcrumb p {
    color: #010101 !important;
    opacity: 0.7;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", Sans-serif;
    position: relative;
}
.rank-math-breadcrumb p a {
    color: #010101 !important;
    opacity: 0.9;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", Sans-serif;
    position: relative;
}
.rank-math-breadcrumb  a:first-child::before{
    content: url('../images/icon-home.png');
    position: absolute;
    opacity: 0.7;
    top: 0px;
    left: -34px;
}
.rank-math-breadcrumb .separator {
    position: relative;
    padding: 0px 11px;
}
.rank-math-breadcrumb .separator:before {
    content: url('../images/arrow-right.png');
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
}

/* Privacy and policy */
.table_of_contents li.elementor-icon-list-item a:hover {
    text-decoration: underline;
    transition: all 0.4s;
}


/* Contact page */

.request_quote .elementor-icon-box-description {
    display: flex;
    flex-direction: column;
}

.request_quote .elementor-icon-box-description a {
    font-weight: 400;
    transition: all 0.4s;
    color: var( --e-global-color-primary );
}

.request_quote .elementor-icon-box-description a:hover {
    color: #4F46E5;
    text-decoration: underline;
    cursor: pointer;
}

/* Fluent Form style */
.fluentform label {
    font-size: 18px !important;
    font-weight: 400 !important;
    font-family: Montserrat !important;
    color:#2D3748 !important;
}
.fluentform input, select {
    padding: 13px !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    height: 50px !important;
    font-size: 18px;
    color: black;
}

.fluentform input:focus {
    border: 1px solid var( --e-global-color-primary ) !important;
}
.fluentform textarea {
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 14px !important;
    font-size: 18px;
    color: black;
}
.fluentform textarea:focus{
    border: 1px solid var( --e-global-color-primary ) !important;
}

.ff-default .ff_btn_style {
    background-color: var(--e-global-color-primary) !important;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    border-radius: 6px 6px 6px 6px;
    padding: 14px 25px 14px 25px;
    transition: 0.4s;
}
.ff-default .ff_btn_style:hover{
    background: #F0E6F7 !important;
    color: var(--e-global-color-primary) !important;
    border-color: #F0E6F7;
}
.ff-message-success{
    border: 1px solid var(--e-global-color-primary);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.3em;
    color: black;
}

/* -------------------------------- animations -------------------------------- */
.MoveUpDown{animation: MoveUpDown 2s linear infinite }
@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}